/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Caribou-Biosciences/nf-SITE-Seq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                          = null

    // Output options
    outdir                         = null
    bam_dir                        = "${params.outdir}/bams"
    bigwig_dir                     = "${params.outdir}/bigwigs"
    fastp_dir                      = "${params.outdir}/fastp"
    fasta_dir                      = "${params.outdir}/fasta"
    igv_dir                        = "${params.outdir}/igv"
    dist_tsv_dir                   = "${params.outdir}/dist_tsvs"
    site_tsv_dir                   = "${params.outdir}/site_tsvs"
    report_dir                     = "${params.outdir}/reports"
    file_server_url                = ""
    file_server_prefixes           = ""
    use_relative_igv_paths         = false
    save_bowtie2_index             = false

    // Analysis options
    apply_normalization            = true
    use_umis                       = true
    umi_length                     = 7
    umi_base_qual_thresh           = 20
    max_lowq_umi_bases             = 1
    stat_window                    = 5
    peak_window                    = 5
    agg_peak_window                = 10
    control_noise_window           = 150
    test_pval_calling_thresh       = 0.00001
    test_pval_reporting_thresh     = 0.001
    ctrl_noise_pval_calling_thresh = 0.005
    include_noise_pval_fails       = false
    min_aln_length                 = 20
    max_clipping                   = 0
    min_map_qual                   = 5
    motif_search_factor            = 1
    motif_match_score              = 1
    motif_mismatch_pen             = 1
    motif_gap_pen                  = 8
    subsample_fastqs               = false
    subsample_target_reads         = null

    // References
    fasta                          = null
    bowtie2_index                  = null

    // MultiQC options
    multiqc_config                 = null
    multiqc_title                  = null
    multiqc_logo                   = null
    max_multiqc_email_size         = '25.MB'
    multiqc_methods_description    = null

    // Boilerplate options
    publish_dir_mode               = 'copy'
    email                          = null
    email_on_fail                  = null
    plaintext_email                = false
    monochrome_logs                = false
    hook_url                       = null
    help                           = false
    help_full                      = false
    show_hidden                    = false
    version                        = false

    pipelines_testdata_base_path   = 'https://raw.githubusercontent.com/Caribou-Biosciences/nf-SITE-Seq/refs/heads/main/'
    empty_file                     = "${projectDir}/assets/EMPTY"

    // Config options
    config_profile_name            = null
    config_profile_description     = null

    custom_config_version          = 'master'
    custom_config_base             = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact         = null
    config_profile_url             = null

    // Schema validation default options
    validate_params                = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    standard {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
    }
    test      { includeConfig 'conf/test.config'      }
    // no full test dataset yet
    // test_full { includeConfig 'conf/test_full.config' }
}

// Load nf-core custom profiles from different Institutions
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = """\
bash

set -e # Exit if a tool returns a non-zero status/exit code
set -u # Treat unset variables and parameters as an error
set -o pipefail # Returns the status of the last command to exit with a non-zero status or zero if all successfully execute
set -C # No clobber - prevent output redirection from overwriting files.
"""

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'Caribou-Biosciences/nf-SITE-Seq'
    author          = """Caribou-Biosciences"""
    homePage        = 'https://github.com/Caribou-Biosciences/nf-SITE-Seq'
    description     = """Nextflow pipeline for processing and analyzing data produced by the SITE-Seq® assay"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.1.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = []
    help {
        enabled = true
        command = "nextflow run $manifest.name -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
